<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Budget App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Kategorie</h1>

<div class="categories">
    <div th:each="category : ${categoriesList}" class="category">
        <a th:href="@{'/categories/' + ${category.id()}}" class="category-link">
            <div class="category-content">
                <p th:text="${category.name()}">Nazwa kategorii</p>
                <span th:text="${category.totalAmount()} + 'zł '">Kwota</span>
            </div>
        </a>
    </div>
    <div class="category add-category">
        <a href="/categories/create" class="plus-button">+</a>
    </div>
</div>
</body>
</html>
